<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/toup.css"/>
    <link rel="stylesheet" href="/static/js/swiper/swiper.min.css">
    <link rel="stylesheet" href="/static/css/jquery-labelauty.css">
    <style>
        ul {
            list-style-type: none;
        }

        li {
            display: block;
            /*display: inline-block;*/
        }

        li {
            margin: -10px 0;
        }

        input.labelauty + label {
            font: 12px "Microsoft Yahei";
        }
    </style>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/fontSize.js"></script>

    <title>高校学生家庭经济情况量化测评表</title>

</head>

<body>

<section class="toup" id="t1">
    <!-- <div class="logo">
        <img src="images/logo.png"/>
    </div> -->
    <div class="swipers">
        <!-- 上下 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="scores">
                        <div class="f"><span>1</span>政策兜底资助类型</div>
                        <div class="choose">
                            <ul class="dowebok">
        <li><input type="checkbox" name="checkbox" data-labelauty="城乡低保家庭（含特困供养人员）子女"></li>
        <li><input type="checkbox" name="checkbox" data-labelauty="建档立卡贫困户子女"></li>
        <li><input type="checkbox" name="checkbox" data-labelauty="家庭经济困难残疾学生"></li>
        <li><input type="checkbox" name="checkbox" data-labelauty="烈士子女或优抚家庭子女"></li>
        <li><input type="checkbox" name="checkbox" data-labelauty="孤儿"></li>
    </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scores">
                        <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
                        <div class="f"><span>2</span>款式独特性（1-5分）</div>
                        <div class="choose">
                            <div class="input"><input type="radio" name="score1" id="6"/><label for="6">5分
                                款式必须非常独特，其他地方买不到，可放弃其他方面要求</label></div>
                            <div class="input"><input type="radio" name="score1" id="7"/><label for="7">4分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score1" id="8"/><label for="8">1分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score1" id="9"/><label for="9">1分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score1" id="10"/><label for="10">1分
                                只要其他方面可以满足，款式独特性无所谓</label></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scores">
                        <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
                        <div class="f"><span>3</span>款式专属性（1-5分）</div>
                        <div class="choose">
                            <div class="input"><input type="radio" name="score2" id="11"/><label for="11">5分
                                必须能够体现个人属性（纪念日、图像），可放弃其他方面要求 </label></div>
                            <div class="input"><input type="radio" name="score2" id="12"/><label for="12">4分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score2" id="13"/><label for="13">3分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score2" id="14"/><label for="14">2分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score2" id="15"/><label for="15">1分
                                只要其他方面可以满足，专属性无所谓</label></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scores">
                        <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
                        <div class="f"><span>4</span>大牌或明星同款（1-5分）</div>
                        <div class="choose">
                            <div class="input"><input type="radio" name="score3" id="16"/><label for="16">5分
                                必须接近某大品牌或某明星的同款，可放弃其他方面要求 </label></div>
                            <div class="input"><input type="radio" name="score3" id="17"/><label for="17">4分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score3" id="18"/><label for="18">3分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score3" id="19"/><label for="19">2分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score3" id="20"/><label for="20">1分
                                只要其他方面可以满足，是否大牌或明星同款无所谓</label></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scores">
                        <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
                        <div class="f"><span>5</span>材料可变性（1-5分）</div>
                        <div class="choose">
                            <div class="input"><input type="radio" name="score3" id="21"/><label for="21">5分
                                必须有非常多的材料可供选择，可放弃其他方面要求</label></div>
                            <div class="input"><input type="radio" name="score3" id="22"/><label for="22">4分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score3" id="23"/><label for="23">3分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score3" id="24"/><label for="24">2分 </label>
                            </div>
                            <div class="input"><input type="radio" name="score3" id="25"/><label for="25">1分
                                只要其他方面可以满足，有2-3种经典材料即可</label></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="scores">
                        <h3>对于lamodaDIY的鞋子，您在以下几个方面的需求程度如何呢？</h3>
                        <div class="f"><span>6</span>请问您的年龄？</div>
                        <div class="choose">
                            <div class="input"><input type="radio" name="score4" id="26"/><label for="26">20-30 </label>
                            </div>
                            <div class="input"><input type="radio" name="score4" id="27"/><label for="27">30-40 </label>
                            </div>
                            <div class="input"><input type="radio" name="score4" id="28"/><label for="28">40-50</label>
                            </div>
                            <div class="input"><input type="radio" name="score4" id="29"/><label for="29">50-60</label>
                            </div>
                            <div class="input"><input type="radio" name="score4" id="30"/><label for="30">60以上</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="preNexts">
                <div class="swiper-button-prev">
                    <div class="pre"></div>
                    上一题
                </div>
                <div class="swiper-button-next">
                    <div class="next"></div>
                    下一题
                </div>
            </div>
        </div>
        <!-- 上下end -->
    </div>
</section>
<section class="toup" id="t3">
    <!-- <div class="logo">
        <img src="images/logo.png"/>
    </div> -->
    <div class="swipers">
        <div class="con con1">
            <input type="number" name="" class="phone" placeholder="手机号码"/>
            <div class="smile">
                <p>非常感谢您的配合!</p>
                <p>我们将赠送您100个lamoda商城积分，请填写您的商城账户手机号，谢谢!</p>
            </div>
        </div>
        <a href="javascript:;" class="tijiao">提交调查</a>
    </div>
</section>
<script src="/static/js/swiper/swiper.min.js"></script>
<script src="/static/js/jquery-labelauty.js"></script>

<script>
    $(':input').labelauty();

    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
        onReachEnd: function (swiper) {
            $("#t2").hide();
            $("#t3").show();
        }
    });
    $("#t2,#t3").hide();
    $("a.jion").on("click", function () {
        $("#t1").hide();
        $("#t2").show();
    });
    $(".swiper-container label,.swiper-container input").click(function () {
        var this_active = $(this).parents(".swiper-slide").index();
        setTimeout(function () {
            mySwiper.slideTo(this_active + 1, 1000)
        }, 500);

    });
    $('.swiper-button-next').click(function () {
        if (mySwiper.isEnd) {
            $("#t2").hide();
            $("#t3").show();
        }
    })

</script>


<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <p>适用浏览器：360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. 不支持IE8及以下浏览器。</p>
    <p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
</body>

</html>