<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>高校学生家庭经济情况量化测评表</title>
    <style>


    </style>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
    <!--[if IE]>
    <!--<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>-->
    <![endif]-->

</head>
<body>
<div class="container">
    <header class="codrops-header">
        <h1><span>高校学生家庭经济情况量化测评表</span></h1>
    </header>
    <section class="content">
        <h2>基本信息</h2>
        <span class="input input--kaede">

					<input class="input__field input__field--kaede" type="text" id="input-1"/>
					<label class="input__label input__label--kaede" for="input-1">
						<span class="input__label-content input__label-content--kaede">姓名<div
                                style="float: right" id="div-1"></div></span>
					</label>
				</span>
        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input-2"/>
					<label class="input__label input__label--kaede" for="input-2">
						<span class="input__label-content input__label-content--kaede">身份证号码<div
                                style="float: right" id="div-2"></div></span>
					</label>
				</span>
        <span class="input input--kaede">
					<form class="layui-form layui-form-pane" action="">
      <div class="layui-form-item " pane style="border: 0px">
        <label class="layui-form-label "
               style="color: #6a7989;font-weight: bold;font-size: 70.25%;float: none;background-color: transparent;text-align: left;border: 0px;">性别</label>
        <div class="layui-input-block">
          <input type="radio" name="sex" value="男" title="男">
          <input type="radio" name="sex" value="女" title="女">
        </div>
      </div>
    </form>
				</span>

        <span class="input input--kaede">
					            <select class="input__field input__field--kaede" id="select_nation" style="font-size: 70%"></select>
					<label class="input__label input__label--kaede" for="select_nation">
						<span class="input__label-content input__label-content--kaede">民族<div
                                style="float: right;padding: -0.5em" id="div_nation"></div></span>
					</label>
				</span>
        <span class="input input--kaede">
            <select class="input__field input__field--kaede" id="select_department" style="font-size: 70%"></select>
					<label class="input__label input__label--kaede" for="select_department">
						<span class="input__label-content input__label-content--kaede">院系<div
                                style="float: right;padding: -0.5em" id="div_department"></div></span>
					</label>
				</span>
        <span class="input input--kaede">
            <select class="input__field input__field--kaede" type="text" id="select_major"
                    style="font-size: 70%"></select>
					<label class="input__label input__label--kaede" for="select_major">
						<span class="input__label-content input__label-content--kaede">专业<div
                                style="float: right;padding: -0.5em" id="div_major"></div></span>
					</label>
				</span>
        <span class="input input--kaede">
            <select class="input__field input__field--kaede" type="text" id="select_class"
                    style="font-size: 70%"></select>
					<label class="input__label input__label--kaede" for="select_class">
						<span class="input__label-content input__label-content--kaede">班级<div
                                style="float: right;padding: -0.5em" id="div_class"></div></span>
					</label>
				</span>

        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_id"/>
					<label class="input__label input__label--kaede" for="input_id">
						<span class="input__label-content input__label-content--kaede">学号<div
                                style="float: right;padding: -0.5em" id="div_id"></div></span>
					</label>
				</span>

        <button id="btn_submit" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal"
                style="background-color: #A9E8DC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp提交 &nbsp;&nbsp;&nbsp;&nbsp
            &nbsp;&nbsp;&nbsp;&nbsp
        </button>

    </section>


</div><!-- /container -->


<script src="/static/plugins/layui/layui.js"></script>
<!--<script src="/static/js/classie.js"></script>-->

<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.jquery;
        layer.msg('Hello World');


        setSelect_department();
        setSelect_nation();
        setSelect_major();
        setSelect_class();
//        姓名框
        $("#input-1").blur(function () {
            var name = $(this).val();
            $('#div-1').text(name)
        });

//        身份证号码框
        $("#input_id").blur(function () {
            var name = $(this).val();
            $('#div_id').text(name)
        });

//        学号框
        $("#input-2").blur(function () {
            var name = $(this).val();
            $('#div-2').text(name)
        });

//        民族下拉框
        function setSelect_nation() {
            var nation = $('#select_nation');
            var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族", "土家族",
                "哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族",
                "土族", "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族",
                "俄罗斯族", "鄂温克族", "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"];
            for (var i = 0; i < nations.length; i++) {
                var a = nations[i];
                console.log(nations[i]);
                nation.append("<option value=" + a + ">" + a + "</option>");
            }
            nation.blur(function () {
                var name = nation.val();
                $('#div_nation').text(name)
            });
        }

//        院系下拉框
        function setSelect_department() {
            var select_department = $('#select_department');
            var departments = ["计算机工程系", "电子系", "传媒系"];
            for (var i = 0; i < departments.length; i++) {
                var a = departments[i];
                select_department.append("<option value=" + a + ">" + a + "</option>");
            }
            select_department.blur(function () {
                var name = select_department.val();
                $('#div_department').text(name)
            });
        }

//        专业下拉框
        function setSelect_major() {
            var select_major = $('#select_major');
            var majors = ["软件技术", "物联网", "移动互联"];
            for (var i = 0; i < majors.length; i++) {
                var a = majors[i];
                select_major.append("<option value=" + a + ">" + a + "</option>");
            }
            select_major.blur(function () {
                var name = select_major.val();
                $('#div_major').text(name)
            })
        }

//        班级下拉框
        function setSelect_class() {
            var select_class = $('#select_class');
            var classes = ["软件技术1611", "软件技术1612", "移动互联1611", "移动互联1612"];
            for (var i = 0; i < classes.length; i++) {
                var a = classes[i];
                select_class.append("<option value=" + a + ">" + a + "</option>");
            }
            select_class.blur(function () {
                var name = select_class.val();
                $('#div_class').text(name)
            })
        }

        $("#btn_submit").click(function () {
        })

//        form.on('submit(formDemo)', function (data) {
//            layer.msg(JSON.stringify(data.field));
//
//            (function () {
//                // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
//                if (!String.prototype.trim) {
//                    (function () {
//                        // Make sure we trim BOM and NBSP
//                        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
//                        String.prototype.trim = function () {
//                            return this.replace(rtrim, '');
//                        };
//                    })();
//                }
//
//                [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
//                    // in case the input is already filled..
//                    if (inputEl.value.trim() !== '') {
//                        classie.add(inputEl.parentNode, 'input--filled');
//                    }
//
//                    // events:
//                    inputEl.addEventListener('focus', onInputFocus);
//                    inputEl.addEventListener('blur', onInputBlur);
//                });
//
//                function onInputFocus(ev) {
//                    classie.add(ev.target.parentNode, 'input--filled');
//                }
//
//                function onInputBlur(ev) {
//                    if (ev.target.value.trim() === '') {
//                        classie.remove(ev.target.parentNode, 'input--filled');
//                    }
//                }
//            })();
//        })
    })
</script>
</body>
</html>
