<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校学生家庭经济情况量化测评表</title>
    <script src="/static/plugins/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/global.css" media="all">
</head>
<body>
<div class="layui-fluid">
<fieldset class="layui-elem-field layui-field-title">
<legend style="text-align: center;float: none">高校学生家庭经济情况量化测评表</legend>
</fieldset>
<div class="layui-row">
<div class="layui-col-sm3">
<div class="grid-demo grid-demo-bg1">姓名</div>
</div>
<div class="layui-col-sm3">
<div class="grid-demo"></div>
</div>
<div class="layui-col-sm3">
<div class="grid-demo grid-demo-bg1">身份证号码</div>
</div>
<div class="layui-col-sm3">
<div class="grid-demo"></div>
</div>
</div>
</div>


</body>

<script type="text/javascript">
    layui.use('layer', function () {
        var layer = layui.layer;
//        layer.msg('Hello World');

    });
</script>
</html>