<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>高校学生经济困难学生班级民主评议表</title>
    <style>


    </style>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>


</head>
<body>
<div class="container">
    <header class="codrops-header">
        <h1><span>高校学生经济困难学生班级民主评议表</span></h1>
    </header>
    <section class="content">
        <h3>{{title}}</h3>
        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_studentId"
                           style="font-size: 80%"/>
					<label class="input__label input__label--kaede" for="{{for}}">
						<span class="input__label-content input__label-content--kaede">学号<div
                                style="float: right;padding: -0.5em" id="div_studentId">{{studentId}}</div></span>
					</label>
				</span>
        <span class="input input--kaede">

					<input class="input__field input__field--kaede" type="text" id="input_name"/>
					<label class="input__label input__label--kaede" for="">
						<span class="input__label-content input__label-content--kaede">姓名<div
                                style="float: right" id="div_name">{{name}}</div></span>
					</label>
				</span>
        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_sfz" style="font-size: 50%"/>
					<label class="input__label input__label--kaede" for="">
						<span class="input__label-content input__label-content--kaede">身份证号码<div
                                style="float: right;font-size: 75%;text-align: center;margin-top: 5px;"
                                id="div_sfz">{{sfz}}</div></span>
					</label>
				</span>
        <span class="input input--kaede">
					<form class="layui-form layui-form-pane" action="">
      <div class="layui-form-item " pane style="border: 0px">
        <label class="layui-form-label "
               style="color: #6a7989;font-weight: bold;font-size: 70.25%;float: none;background-color: transparent;text-align: left;border: 0px;">性别</label>
        <div class="layui-input-block">
			{%if gender == "男" %}
		  <input type="radio" name="sex" value="男" title="男" checked>
          <input type="radio" name="sex" value="女" title="女">
			{% elif gender == "女" %}
		  <input type="radio" name="sex" value="男" title="男" checked>
          <input type="radio" name="sex" value="女" title="女" checked>
			{%else%}
          <input type="radio" name="sex" value="男" title="男">
          <input type="radio" name="sex" value="女" title="女">
						{% endif %}
        </div>
      </div>
    </form>
				</span>

        <span class="input input--kaede">
					            <select class="input__field input__field--kaede" id="select_nation"
                                        style="font-size: 70%"></select>
					<label class="input__label input__label--kaede" for="">
						<span class="input__label-content input__label-content--kaede">民族<div
                                style="float: right;padding: -0.5em" id="div_nation">{{nation}}</div></span>
					</label>
				</span>
        <span class="input input--kaede">
            <select class="input__field input__field--kaede" id="select_department" style="font-size: 70%"></select>
					<label class="input__label input__label--kaede" for="">
						<span class="input__label-content input__label-content--kaede">院系<div
                                style="float: right;padding: -0.5em" id="div_department">{{department}}</div></span>
					</label>
				</span>

        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_major"
                           style="font-size: 80%"/>
					<label class="input__label input__label--kaede" for="">
						<span class="input__label-content input__label-content--kaede">专业<div
                                style="float: right;padding: -0.5em" id="div_major">{{major}}</div></span>
					</label>
				</span>

        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_class"
                           style="font-size: 80%"/>
					<label class="input__label input__label--kaede" for="">
						<span class="input__label-content input__label-content--kaede">班级<div
                                style="float: right;padding: -0.5em" id="div_class">{{clazz}}</div></span>
					</label>
				</span>

        {%if submit_appear == "true"%}
        <button id="btn_submit" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" type="submit"
                style="background-color: #A9E8DC;width: 60%">确认
        </button>
        {%endif%}
    </section>


</div><!-- /container -->
<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/js/layuiConfig.js"></script>

<script>

    layui.use(['jquery', 'layer', 'form', 'jquery_cookie', 'csrftoken'], function () {
        var $ = layui.jquery;
        var csrftoken = layui.csrftoken;
        var jquery_cookie = layui.jquery_cookie;
        var layer = layui.layer;
        var form = layui.form;
        var name = "";
        var sfz = "";
        var gender = "";
        var nation = "";
        var department = "";
        var major = "";
        var clazz = "";
        var filledStudentId = "";

//        学号框
        $("#input_studentId").blur(function () {
            var prestudentId = $(this).val();
            var reg = /\d{10}/;
            if (reg.test(prestudentId) === false) {

                if (prestudentId.trim() !== "") {
                    layer.msg("学号应为10位数字");
                    $('#div_studentId').text("");
                }
            } else {
                $(this).parent().css("border", "");
                filledStudentId = prestudentId;
                $('#div_studentId').text(filledStudentId);
                $.ajax(
                    {
                        url: "/democratic/select_student/" + filledStudentId,
                        async: true,
                        type: "get",
                        success: function (data) {
                            if (data.result === "false") {
                                layer.msg("未查询到该学生信息");
                            } else if (data.result === "false") {
                                $.cookie("filled_student_id", filledStudentId, {path: "/"});
                            }
                        },
                        error: function () {
//                            console.log(json_data);
                            layer.msg("未查询到该学生信息");
                        }
                    }
                )
            }
        });


        $("#btn_submit").click(function () {
            window.location.href = '/democratic/main/';
        });


    })
</script>

</body>
</html>
