<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/toup.css"/>
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/jquery-labelauty.css">
    <script src="/static/plugins/layui/layui.js"></script>

    <!--<link rel="stylesheet" href="/static/css/city.css">-->
    <!--<script src="/static/js/ydui.flexible.js"></script>-->
    <style>
        ul {
            list-style-type: none;
        }

        li {
            display: block;
            /*display: inline-block;*/
            margin: -10px 0;
        }

        input.labelauty + label {
            font: 12px "Microsoft Yahei";
            color: black;
            padding: 12px;
        }
    </style>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/fontSize.js"></script>

    <title>高校家庭经济困难学生班级民主评议表</title>

</head>

<body>

<section class="toup" id="t1">
    <div class="swipers">
        <!-- 政策兜底资助类型 -->
        <div class="swiper-container swiper-no-swiping">
            <div class="swiper-wrapper swiper-no-swiping">

                <div class="swiper-slide swiper-no-swiping">
                    <div class="scores">
                        <div class="f"><span>1</span>热爱所学专业，刻苦钻研，勇于创新，敢于实践，积极参加课外科技活动</div>
                        <div class="choose">
                            <ul class="dowebok">
                                <li><input type="checkbox" name="checkbox_zcdd" data-labelauty="好（2分）">
                                </li>
                                <li><input type="checkbox" name="checkbox_zcdd" data-labelauty="一般（1分）"></li>
                                <li><input type="checkbox" name="checkbox_zcdd" data-labelauty="差（0分）"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--家庭住地-->
                <div class="swiper-slide swiper-no-swiping">
                    <div class="scores">
                        <div class="f"><span>2</span>尊敬师长、尊重他人，团结友爱、关心集体、诚实守信，考试不作弊；热爱劳动，积极参加社会实践、公益劳动</div>
                        <div class="choose">
                            <ul class="dowebok">
                                <li><input type="checkbox" name="checkbox_zcdd" data-labelauty="好（2分）">
                                </li>
                                <li><input type="checkbox" name="checkbox_zcdd" data-labelauty="一般（1分）"></li>
                                <li><input type="checkbox" name="checkbox_zcdd" data-labelauty="差（0分）"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--父亲职业-->
                <div class="swiper-slide swiper-no-swiping">
                    <div class="scores">
                        <div class="f"><span>4</span>父亲职业</div>
                        <div class="choose">
                            <ul class="dowebok">
                                <li><input type="radio" name="radio_fqzy" data-labelauty="公司股东或高管、私营业主"></li>
                                <li><input type="radio" name="radio_fqzy" data-labelauty="公务员、事业单位或国有企业工作人员、个体经营户"
                                           ></li>
                                <li><input type="radio" name="radio_fqzy" data-labelauty="进城务工人员或合同制工作人员"></li>
                                <li><input type="radio" name="radio_fqzy" data-labelauty="务农或临时务工"></li>
                                <li><input type="radio" name="radio_fqzy" data-labelauty="因身体或其他原因无法就业、失踪（联）或去世"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--母亲职业-->
                <div class="swiper-slide swiper-no-swiping">
                    <div class="scores">
                        <div class="f"><span>5</span>母亲职业</div>
                        <div class="choose">
                            <ul class="dowebok">
                                <li><input type="radio" name="radio_mqzy" data-labelauty="公司股东或高管、私营业主"></li>
                                <li><input type="radio" name="radio_mqzy" data-labelauty="公务员、事业单位或国有企业工作人员、个体经营户"></li>
                                <li><input type="radio" name="radio_mqzy" data-labelauty="进城务工人员或合同制工作人员"></li>
                                <li><input type="radio" name="radio_mqzy" data-labelauty="务农或临时务工"></li>
                                <li><input type="radio" name="radio_mqzy" data-labelauty="因身体或其他原因无法就业、失踪（联）或去世"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--父亲劳动能力-->
                <div class="swiper-slide swiper-no-swiping">
                    <div class="scores">
                        <div class="f"><span>6</span>父亲劳动能力</div>
                        <div class="choose">
                            <ul class="dowebok">
                                <li><input type="radio" name="radio_fqld" data-labelauty="完全丧失劳动能力、失踪（联）或去世"></li>
                                <li><input type="radio" name="radio_fqld" data-labelauty="1-2级伤残"></li>
                                <li><input type="radio" name="radio_fqld" data-labelauty="3-4级伤残，或有一定劳动能力"></li>
                                <li><input type="radio" name="radio_fqld" data-labelauty="身体健康但无一技之长"></li>
                                <li><input type="radio" name="radio_fqld" data-labelauty="身体健康且有一技之长"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--母亲劳动能力-->
                <div class="swiper-slide swiper-no-swiping">
                    <div class="scores">
                        <div class="f"><span>7</span>母亲劳动能力</div>
                        <div class="choose">
                            <ul class="dowebok">
                                <li><input type="radio" name="radio_mqld" data-labelauty="完全丧失劳动能力、失踪（联）或去世"></li>
                                <li><input type="radio" name="radio_mqld" data-labelauty="1-2级伤残"></li>
                                <li><input type="radio" name="radio_mqld" data-labelauty="3-4级伤残，或有一定劳动能力"></li>
                                <li><input type="radio" name="radio_mqld" data-labelauty="身体健康但无一技之长"></li>
                                <li><input type="radio" name="radio_mqld" data-labelauty="身体健康且有一技之长"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--除父母亲之外其他家庭成员劳动能力-->
            </div>

            <!-- 上下start -->
            <div class="preNexts">
                <div class="swiper-button-prev">
                    <div class="pre"></div>
                    上一题
                </div>
                <div class="swiper-button-next">
                    <div class="next"></div>
                    下一题
                </div>
            </div>
        </div>
        <!-- 上下end -->
    </div>
</section>


<section class="toup" id="t2">
    <!-- <div class="logo">
        <img src="images/logo.png"/>
    </div> -->
    <div class="swipers">
        <div class="con con1">
            <div class="smile">
                <p>非常感谢您的配合!</p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <a href="javascript:;" class="tijiao">提交</a>
    </div>
</section>

<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/jquery-labelauty.js"></script>
<!--<script type="text/javascript" src="/static/js/ydui.citys.js"></script>-->
<!--<script type="text/javascript" src="/static/js/ydui.js"></script>-->
<script>


    layui.use(['layer', 'form'], function () {
        var value_array = {};
//        除了每年学费标准，测评得分
        var value_name = ['zcdd', 'hjsz', 'jtzz', 'fqzy', 'mqzy', 'fqld', 'mqld', 'cfmq', 'fwqk', 'jxrk', 'syrk', 'ylzc', 'jtsz', 'jtbg', 'zxqj'];

        var layer = layui.layer;
        var mySwiper = new Swiper('.swiper-container', {
            noSwiping: true,
            pagination: '.swiper-pagination ',
//            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: false,
            spaceBetween: 100,
            loop: false
        });
        $("#t2,#t3").hide();

        $('#J_Address').click(function () {

            var height = $(window).height() + "px"
            var width = $(window).width() + "px"
            layer.open({
                title: "请选择户籍所在县区",
                area: [width, height],
                skin: 'demo-class',
                type: 2,
                content: ['/quantization/city/', 'no'] //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            });
        });

        $(".swiper-container label,.swiper-container input[id!='J_Address']").click(function () {
            var this_active = $(this).parents(".swiper-slide").index();
            setTimeout(function () {
                logic(mySwiper);
//                mySwiper.activeIndex
                mySwiper.slideTo(mySwiper.activeIndex + 1, 1000)
//                $('.swiper-button-next').click();
            }, 500);

        });
        $('.swiper-button-next').click(function () {
            logic(mySwiper);
            mySwiper.slideTo(mySwiper.activeIndex + 1, 1000)
        });


        $(':input:checkbox').labelauty();
        $(':input:radio').labelauty();

        function logic(mySwiper) {
            if (mySwiper.activeIndex == 0) {
//                alert(0);

                var selects = $(':input:checkbox:checked');
                var label = $($(selects)[0]).next().children()[1];
                zcdd = $(label).html();

                if (typeof(zcdd) == 'undefined') {
                    zcdd = "";
                }
                value_array['zcdd'] = zcdd;
                console.log(value_array)
            } else if (mySwiper.activeIndex == 1) {
                var hjsz = $("#J_Address").attr("placeholder");
                if (hjsz == "请选择地址") {
                    layer.msg("您还未选择!");
                    mySwiper.slideTo(mySwiper.activeIndex - 1)
                } else {
                    value_array['hjsz'] = hjsz;
                }

//                console.log("1" + hjsz);
            }

            else {
                var now_index = mySwiper.activeIndex;
//                alert(mySwiper.activeIndex)
                var active_slide = mySwiper.slides[now_index];
                var radio = $(active_slide).find($(':input:radio:checked'))[0];
                var label = $($(radio)).next().children()[1];
                var active_value = $(label).html();
                if (typeof(active_value) == "undefined") {
                    layer.msg("您还未选择!");
                    mySwiper.slideTo(now_index - 1)
                }
                value_array[value_name[now_index]] = active_value;
                console.log(value_array)
//                $(radio).innerHTML()
//                console.log(active_value)
//                var active_select =
//                var  active_value =
//                value_array.push(1);
//                console.log(value_array)
                if (mySwiper.isEnd) {
                    $("#t1").hide();
                    $("#t2").show();
                }
            }
        }
    });


</script>


<div style="text-align:center;margin:30px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    <p>Powered by：<a>福信-易班开发团队</a></p>
</div>
</body>

</html>