<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>高校学生经济困难学生班级民主评议表</title>
    <style>


    </style>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>


</head>
<body>
<div class="container">
    <header class="codrops-header">
        <h1><span>高校学生经济困难学生班级民主评议表</span></h1>
    </header>
    <section class="content">
        <h3>请完善以下信息</h3>
        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_studentId"
                           style="font-size: 80%"/>
					<label class="input__label input__label--kaede" for="input_studentId">
						<span class="input__label-content input__label-content--kaede">被评测人学号<div
                                style="float: right;padding: -0.5em" id="div_studentId"></div></span>
					</label>
				</span>
        <span class="input input--kaede">

					<input class="input__field input__field--kaede" type="text" id="input_name"/>
					<label class="input__label input__label--kaede" for="input_name">
						<span class="input__label-content input__label-content--kaede">评测人姓名<div
                                style="float: right" id="div_name"></div></span>
					</label>
				</span>
        <span class="input input--kaede">
					<input class="input__field input__field--kaede" type="text" id="input_job"/>
					<label class="input__label input__label--kaede" for="input_job">
						<span class="input__label-content input__label-content--kaede">评测人职务<div
                                style="float: right;font-size: 75%;text-align: center;margin-top: 5px;"
                                id="div_job"></div></span>
					</label>
				</span>

        <button id="btn_submit" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" type="submit"
                style="background-color: #A9E8DC;width: 60%">提交
        </button>
    </section>


</div><!-- /container -->
<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/js/layuiConfig.js"></script>

<script>

    layui.use(['jquery', 'layer', 'form', 'jquery_cookie', 'csrftoken'], function () {
        var $ = layui.jquery;
        var csrftoken = layui.csrftoken;
        var jquery_cookie = layui.jquery_cookie;
        var layer = layui.layer;
        var form = layui.form;
        var name;
        var filledStudentId;
        var job;
        var value_array = {};

//        学号框
        $("#input_studentId").blur(function () {
            var prestudentId = $(this).val();
            var reg = /\d{10}/;
            if (reg.test(prestudentId) === false) {

                if (prestudentId.trim() !== "") {
                    layer.msg("学号应为10位数字");
                    $('#div_studentId').text("");
                    filledStudentId = undefined;
                }
            } else {
                $(this).parent().css("border", "");
                filledStudentId = prestudentId;
                $('#div_studentId').text(filledStudentId);
                $.ajax(
                    {
                        url: "/democratic/select_student/" + filledStudentId,
                        async: true,
                        type: "get",
                        success: function (data) {
                            if (data.result === "false") {
                                layer.msg("未查询到该学生信息");
                            } else if (data.result === "true") {

                            }
                        },
                        error: function () {
//                            console.log(json_data);
                            layer.msg("未查询到该学生信息");
                        }
                    }
                )
            }
        });
        $("#input_name").blur(function () {
            var preName = $(this).val();
            var reg = /^[\u4e00-\u9fa5]{2,4}$/;
            if (reg.test(preName) === false && preName !== "") {
                if (preName.trim() !== "") {
                    layer.msg("请输入正确的姓名");
                    $('#div_name').text("");
                    name = undefined;
                    value_array['name'] = name;
                }
            } else {
                $(this).parent().css("border", "");
                name = preName;
                $('#div_name').text(name);
                value_array['name'] = name;
            }
        });
//        职务框
        $("#input_job").blur(function () {
            var prejob = $(this).val();
            var reg = /^[\u4e00-\u9fa5]{0,20}$/;
            if (reg.test(prejob) === false) {
                if (prejob.trim() !== "") {
                    layer.msg("职务应为中文");
                    job = undefined;
                    value_array['job'] = job;
                    $('#div_job').text("");
                }
            } else {
                $(this).parent().css("border", "");
                job = prejob;
                $('#div_job').text(job);
                value_array['job'] = job;

            }
        });
        $("#btn_submit").click(function () {

            var spans = $(".input--kaede");
            var value_array = [filledStudentId, name, job];
            var str = "";
            value_array.forEach(function (t, number) {

                if (!t) {
                    $(spans[number]).css("border", "red solid 1.5px");
                    str = "您还有资料未填写";
                } else {
                    $(spans[number]).css("border", "");
                }
            });
//            if (str) {
            if (str) {
                layer.msg(str);
            } else {
                var json_data = {
                    "filledStudentId": filledStudentId,
                    "name": name,
                    "job": job
                };
                $.ajax(
                    {
                        url: "/democratic/index_handler/",
                        async: true,
                        data: json_data,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.result === "error") {
                                layer.msg("数据出错");
                            } else if (data.result === "ok" || data.pk !== -1) {
                                layer.msg("提交成功，即将跳转");
                                $.cookie("filled_student_id", filledStudentId, {path: "/"});
                                $.cookie("pk", data.pk, {path: "/"});
                                setTimeout("window.location.href='/democratic/main/'", 800)
                            } else {
                                layer.msg("数据出错");
                            }
                        },
                        error: function () {
                            console.log(json_data);
                            layer.msg("提交出错");
                        }
                    }
                )
            }
        })


    })
</script>

</body>
</html>
